<!-- A partial to be overwritten by the user.
     Its content will appear before the closing </head>-tag -->

<!-- Custom CSS via inline styles
     You may use this template to add custom CSS to your site like so: -->

<style>
     /* Links */
     a:hover {
         color: #22343A;
     }

     /* Header Buttons on Startpage */
     a.btn {
         color: white;
          background-color: #308e8f;
     }
     a.btn:hover {
          background-color: #22343A;
     }

     /* Scroll Menu on Startpage */
     a.fn-item.active {
          color: #308e8f;
     }
     a.fn-item:hover {
          color: #22343A;
     }

     /* Content / Sections */
     .post-holder.odd {
          background: #82bfbe;
          color: white;
     }
     .post-holder {
          background: #f2efe8;
     }
     body {
          color: #3A4145;
     }

     /* Footer */
     .site-footer {
          color: #BBC7CC;
          background-color: #22343A;
     }

     .blog-title {
          margin: 10px 0 10px 0;
          font-size: 7.5rem;
          letter-spacing: -1px;
          color:#82bfbe;
          -webkit-text-stroke: 2px #333333;
        }

     .blog-description {
          margin: 0;
          font-size: 3rem;
          line-height: 1.5em;
          font-weight: 400;
          font-family: "Roboto Slab", serif;
          letter-spacing: 0;
          color:#82bfbe;
          -webkit-text-stroke: 1px #333333;
        }
</style>

<!-- Custom CSS via "custom.css"-file
     If you would rather place your custom CSS into
     a separate file, create a "custom.css" in your
     local "static/css"-directory. Then add a <link>-tag
     referencing your "custom.css" like so: -->

<!-- <link rel="stylesheet" href='{{ "css/custom.css" | absURL }}'> -->

<!-- Custom CSS: Color Codes
     You may checkout https://htmlcolorcodes.com/ to get those
     weird color codes (like "#22343A") ;-). -->

<!-- Custom link-tags for different icons
     Generated via https://favicon.io/favicon-generator/ -->

<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ "images/apple-touch-icon.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ "images/favicon-32x32.png" | absURL }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ "images/favicon-16x16.png" | absURL }}"
/>
